<header>
    <div class="bg-denim-100">
        <div class="w-full max-w-screen-xl relative mx-auto p-6 flex items-stretch">
            <div class="mr-24">
                <a href="/"><img class="block mx-auto" src="/images/lura-logo-small-header.png" width="150" alt="The Lura Project"/></a>
            </div>
            <div class="flex-1 flex items-center space-x-6 text-denim-600 font-bold text-lg">
                <a class="block{{ if eq .RelPermalink "/docs/"}} text-denim-800 border-b-2{{end}}" href="{{ ref . "/docs" }}">Docs</a>
                <a class="block{{ if eq .RelPermalink "/community/"}} text-denim-800 border-b-2{{end}}" href="{{ ref . "/community" }}">Community</a>
                <a class="block" href="https://github.com/luraproject/lura/releases">
                    Download
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                    </svg>
                </a>
                <a class="block" href="https://github.com/luraproject/lura">
                    Github repo
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>
