<header>
    <div class="bg-denim-100">
        <div class="w-full max-w-screen-xl relative mx-auto px-6 py-16">

            <div class="flex-shrink-0 mx-auto" id="teaser-image">
                <div class="mx-auto">
                    <div class="flex flex-col p-2">
                        <img class="block mx-auto" src="/images/lura-logo-header.svg" width="500" alt="The Lura Project"/>
                    </div>
                </div>
            </div>

            <div class="text-center sm:max-w-2xl max-w-3xl mx-auto text-denim-800">

                <h1 class="sr-only">
                    The Lura Project
                </h1>
                <p class="mt-6 sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-gray-600 leading-relaxed" id="tagline-paragraph">
                    An extendable, simple and <strong>stateless high-performance API Gateway framework</strong> designed for both cloud-native and on-prem setups.
                </p>
                <div class="flex items-center justify-center mt-12 space-x-6">
                    <a class="block rounded-lg px-4 md:px-5 py-3 bg-denim-500 hover:bg-denim-600 md:text-lg text-white font-semibold shadow-md"
                       href="https://github.com/devopsfaith/krakend/releases">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"/>
                        </svg>
                        Download
                    </a>
                    <a class="block rounded-lg px-4 md:px-5 py-3 bg-white hover:bg-gray-200 md:text-lg text-gray-800 font-semibold shadow-md"
                       href="https://github.com/devopsfaith/krakend">
                        <svg class="h-6 w-6 inline" fill="currentColor" width="1024" height="1024" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
                                  transform="scale(64)"/>
                        </svg>

                        View on Github
                    </a>
                    <a class="block rounded-lg px-4 md:px-5 py-3 bg-white hover:bg-gray-200 md:text-lg text-gray-800 font-semibold shadow-md"
                       href="/docs">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                        </svg>
                        Read the docs
                    </a>
                </div>
            </div>
            <div class="flex mt-12 items-center justify-center space-x-2">
                <span class="block">by</span>
                <img class="bg-gray-800 block" src="/images/linux-foundation.svg" width="150" alt="The Linux Foundation"/>
            </div>
            <div class="mt-12 flex justify-center">
                <a class="block text-denim-500 underline" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/>
                    </svg>
                    Read the announcement press release
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline -mt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    </div>
</header>
